################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EsriTask/obj
/EsriTask/bin/Debug/netcoreapp3.0
/.vs/EsriTask