@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <input class="form-control" type="text" id="txtSearch" placeholder="Search city..." />
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-dark" id="btnSearch" data-dojo-type="dijit/form/Button">Search</button>
        </div>
    </div>
    <div style="margin-top: 6%">
        <div class="row">
            <div class="col-4">
                <h4>Example of chart</h4>
                <div id="populationChart"></div>
                <h4>Example of data grid</h4>
                <div id="populationGrid"></div>
            </div>
            <div class="col-8">
                <h4>Example of Esri map</h4>
                <div id="esriMap"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.min.js"></script>

<script type="text/javascript">

    var chart;
    var populationData = [];

    function createChart() {
        if (window.searchTerm == undefined) {
            window.searchTerm = "";
        }
        chart = $('#populationChart');
        chart.kendoChart({
            dataSource: {
                data: populationData
            },
            seriesDefaults: {
                type: "column",
                labels: {
                    visible: true,
                    background: "transparent"
                }
            },
            series: [
                {
                    categoryField: "attrib",
                    field: "population",
                    labels: {
                        rotation: -90
                    }
                }
            ],
            valueAxis: {
                max: 3000000,
                line: {
                    visible: false
                },
                minorGridLines: {
                    visible: true
                }
            },
            categoryAxis: {
                majorGridLines: {
                    visible: true
                },
                labels: {
                    rotation: -90
                }
            }
        });
    }

    $(document).ready(function () {
        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);

        $("#populationGrid").kendoGrid({
            dataSource: {
                data: populationData,
                pageSize: 20
            },
            groupable: false,
            sortable: false,
            pageable: false,
            columns: [
                {
                    field: "attrib",
                    title: "Attribute"
                }, {
                    field: "population",
                    title: "Population"
                }
            ]
        });

        require([
            "esri/map",
            "esri/dijit/Search",
            "esri/symbols/Font",
            "esri/geometry/Point",
            "esri/SpatialReference",
            "esri/symbols/SimpleMarkerSymbol",
            "esri/symbols/PictureMarkerSymbol",
            "esri/symbols/SimpleLineSymbol",
            "esri/Color",
            "esri/symbols/TextSymbol",
            "dijit/registry",
            "dijit/form/Button",
            "dojo/parser",
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dojo/domReady!"
        ],
            function (Map,
                Search,
                Font,
                Point,
                SpatialReference,
                SimpleMarkerSymbol,
                PictureMarkerSymbol,
                SimpleLineSymbol,
                Color,
                TextSymbol,
                registry,
                Button,
                parser) {

                parser.parse();

                const esriMap = new Map("esriMap",
                    {
                        center: [-97.5, 41.5],
                        zoom: 4,
                        basemap: "gray"
                    });
                const esriSearch = new Search({
                    enableLabel: true,
                    enableInfoWindow: false,
                    map: esriMap
                },
                    "");

                esriSearch.startup();
                registry.byId("btnSearch").on("click", callGetPopulationData);

                function callGetPopulationData() {
                    const searchTermVal = $("input#txtSearch").val();

                    const markerSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE,
                        12,
                        new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
                            new Color([255, 0, 0]),
                            0.8),
                        new Color([0, 0, 0, 0.35]));

                    const txtSymbol = new TextSymbol()
                        .setColor(new Color([0, 0, 0, 0.9]))
                        .setFont(new Font("16px", Font.STYLE_NORMAL, Font.VARIANT_NORMAL, Font.WEIGHT_BOLD, "Arial"))
                        .setOffset(15, -5)
                        .setAlign(TextSymbol.ALIGN_START);

                    esriSearch.sources[0].highlightSymbol = markerSymbol;
                    esriSearch.sources[0].labelSymbol = txtSymbol;

                    esriSearch.search(searchTermVal);

                    $.ajax({
                        url: '/?handler=PopulationData',
                        data: {
                            searchTerm: searchTermVal
                        }
                    }).done(function (result) {
                        populationData = result;

                        const chartData = chart.data('kendoChart');
                        chartData.dataSource.data(populationData);

                        const gridData = $("#populationGrid").data("kendoGrid");
                        gridData.dataSource.data(populationData);
                    });
                };

                const searchBtnSelector = $("#btnSearch");
                searchBtnSelector.click(callGetPopulationData);
            });
    });
</script>